body {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    opacity: 100%;
  }
  .welcome-message {
    text-align: center;
    font-size: 500px;
    font-weight: bolder;
    color: #333;
  }
  .text-center{
    font-variant:normal;
    font-weight: 450;
    
  }
  h1{
    color: rgb(79, 45, 174);
    font-style: italic;

  }
  /* blockquote{
    opacity: 75%;
  } */