body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .welcome-message {
    text-align: center;
    font-size: 500px;
    font-weight: bolder;
    color: #333;
  }
  .text-center{
    margin-top: 300px;
    font-variant:normal;
    font-weight: 450;
    
  }